/* Login.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body, html {
  height: 100%;
  background-color: #e8f5e9; /* verde claro suave */
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f5e9;
  padding: 20px;
}

.login-card {
  display: flex;
  width: 900px;
  max-width: 95%;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

/* Lado da imagem */
.login-image {
  flex: 1;
  background: url('../assets/login.png') no-repeat center center;
  background-size: cover;
  min-height: 400px;
  position: relative;
}

.login-image::after {
  content: "Este sistema foi desenvolvido para registrar e acompanhar ocorrências escolares.";
  position: absolute;
  bottom: 0;
  width: 92%;
  background: rgba(46, 125, 50, 0.85); /* verde escuro transparente */
  color: white;
  padding: 16px;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

/* Formulário */
.login-form {
  flex: 1;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2e7d32;
}


.input-group:focus-within {
  border-color: #2e7d32;
}


.input-icon {
  color: #2e7d32;
  margin-top: 15px;
  font-size: 16px;
}
.input-group input {
  border: none;
  outline: none;
  flex: 1;
  margin-left: 10px;
  font-size: 15px;
  background-color: #fff;
}

/* Botão */
button[type="submit"] {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #2e7d32;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

button[type="submit"]:hover {
  background-color: #1b5e20;
}

/* Erro */
.erro {
  color: #fff;
  background-color: #c62828;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

/* Link de cadastro */
.login-form p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.login-form a {
  color: #2e7d32;
  font-weight: bold;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
